body {
    background-color: black;
}

html {
    background-color: black;
}

@font-face {
    font-family: 'Orbitron-Light';
    src: local('Orbitron-Light'), url(./fonts/Orbitron-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Earth-Orbiter';
    src: local('Earth-Orbiter'), url(./fonts/earthorbiter.ttf) format('truetype');
}