  .App {
    text-align: center;
  }

  html, body, #app, #app>div {
    height: 100%
  }

  body {
    margin-bottom: 100px;
    position: relative;
    min-height: 100vh;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  h1 {
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('./resources/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  @media (max-width: 991.98px) {
    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      color: black;
      background-image: url('./resources/background.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

  }

  .home, .roadmap, .Minter{
    height: 100vh;
  }

  .about-info {
    padding-top: 180px;
  }

  .roadmap-info, .minter{
    padding-top: 140px;
  }

  .team {
    height: 100vh;
    padding-top: 140px;
    margin-bottom: 400px;
  }
  
  .Minter {
    padding: 60px 80px;
    margin: 0 auto;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
  
  }